@import url(./variables.css);

.menu-principal-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    height: 20vh;
    padding:20px;
}

.menu-principal-wrapper .menu-wrapper{
    display: flex;
    align-content: center;
    gap: 16px;
}

.companyName{
    font-weight: 600;
    font-size: var(--main-company-name);
    color: antiquewhite;    
}
.companyName:hover{
    color: antiquewhite;  
    text-decoration: underline;  
}


.menu{
    font-size: var(--menu-font-size);
    font-weight: 600;
    color: antiquewhite;
}
.menu:hover{
    color: antiquewhite;
    text-decoration: underline;
}
