.body{
    height: 100vh;
    width: 100vw;
}

.body-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(64px, 100%/5)), 1fr));
    box-sizing: border-box;
    margin-top: 10vh;
    padding: 30px;
    justify-content: space-between;
    gap:30px;
}

@media all and (max-width: 600px) {
    .body-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
}